%header
  = image_tag "odk_pin.jpg"
  %h1
    Omicron Delta Kappa
  = image_tag "odk_pin.jpg"
  %ul
    %li Scholarship
    &there4;
    %li Athletics
    &there4;
    %li Campus And Community Involvement
    &there4;
    %li Journalism
    &there4;
    %li Fine Arts
= render :partial => "shared/nav"
