%p
  The Omicron Delta Kappa Society is the  national leadership honor society for college students, faculty, staff, administrators, and alumni that recognizes and encourages superior scholarship, leadership, and exemplary character. Membership in ODK is a mark of the highest distinction and honor.
  The Society recognizes achievement in five areas:

%ul
  %li Scholarship
  %li Athletics
  %li Campus/ Community Service, Social/Religious Activities, and Campus Government
  %li Journalism, Speech and the Mass Media
  %li Creative and Performing Arts

%p
  Emphasis is placed on the development of the whole person, both as a member of the college community and as a contributor to a better society.
  The purpose of Omicron Delta Kappa is threefold:

%ol
  %li To recognize those who have exhibited a high standard of leadership and effectiveness in collegiate activities;
  %li To bring together student leaders from all sectors of collegiate life in order to help mold the sentiment of the university for questions of local and collegiate interest;
  %li To bring together members of the faculty and the student body on a basis of mutual interest and understanding.

%p
  The Omicron Delta Kappa "mark of distinction" is well recognized by leaders in both the academic and business worlds.
