%h2 History

%p
  Omicron Delta Kappa was founded December 3, 1914 at Washington and Lee University,   Lexington, Virginia, by 15 student and faculty leaders.
  The founders formulated the idea that leadership of exceptional quality and versatility in college should be recognized, that representatives in all phases of college life should cooperate in worthwhile endeavors, and that outstanding students, faculty, and administrators should meet on a basis of mutual interest, understanding and helpfulness. 

%p
  ODK was the first college honor society of a national scope to give recognition and honor for meritorious leadership and service in extracurricular activities and to encourage development of general campus citizenship.

%p
  The Omicron Delta Kappa "mark of distinction" is well recognized by leaders in both the academic and business worlds.
