%h2 Contact Information

%p
  %span.contact.fixedwidth Email:
  = link_to "odk.umiami@gmail.com", "mailto:odk.umiami@gmail.com"

%p
  %span.contact.fixedwidth Phone Number:
  305.284.6399

%p
  %span.contact Mailing Address:
  %address.contact
    University of Miami
    %br
    Omicron Delta Kappa
    %br
    Office of Student Activities
    %br
    P.O. Box 248146
    %br
    Coral Gables, FL 33124-6924
